<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">


<head>
	<meta charset="UTF-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	<meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
	<title th:text="${pageTitle}"></title>
</head>

<body>

<div class="container">

<nav th:replace="fragments/nav :: navFragment"> </nav>

<form action="/searchName" method="get">
	<div class="form-group">
		<input type="text" name="name" class="form-control" placeholder="Enter a passenger name to search">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>

</form>

<div class="alert alert-success" role="alert" th:if="${message}">
	<p th:text="${message}"></p>
</div>

<p> <a href="#" th:href="@{add/}">Add</a>

<table class ="table table-striped">
	<thead>
		<th>Passenger ID</th>
		<th>Survived?</th>
		<th>PC Class</th>
		<th>Name</th>
		<th>Sex</th>
		<th>Age</th>
		<th>SibSB</th>
		<th>Parch</th>
		<th>Ticket</th>
		<th>Fare</th>
		<th>Cabin</th>
		<th>Embarked</th>
		<th>Options></th>
	</thead>
	
	<tbody>
		<tr th:each="passengers: ${passengers}">
			<td th:text="${passengers.passengerId}"></td>
			<td th:text="${passengers.survived}"></td>
			<td th:text="${passengers.pclass}"></td>
			<td th:text="${passengers.name}"></td>
			<td th:text="${passengers.sex}"></td>
			<td th:text="${passengers.age}"></td>
			<td th:text="${passengers.sibSb}"></td>
			<td th:text="${passengers.parch}"></td>
			<td th:text="${passengers.ticket}"></td>
			<td th:text="${passengers.fare}"></td>
			<td th:text="${passengers.cabin}"></td>
			<td th:text="${passengers.embarked}"></td>
			<td><a href="#" th:href="@{/titanic/passengers/view/} + ${passengers.passengerId}">View</a><br>
				<a href="#" th:href="@{/titanic/passengers/edit/} + ${passengers.passengerId}">Edit</a><br>
				<a href="#" th:href="@{/titanic/passengers/delete/} + ${passengers.passengerId}">Delete</a>
			</td> 
	</tbody>

</table>

</div>



</body>


</html>