<html>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light" th:fragment="navFrag">
	<button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
	<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="collapse_target">
		<ul class="navbar-nav nav-fill w-100">
	
			<li class="nav-item">
			<a class="nav-link" href="/">Home</a></li>
			
			<li class="nav-item">
			<a class="nav-link" href="volume">By Volume</a></li>
			
			<li class="nav-item">
			<a class="nav-link" href="floorspace">By Floorspace</a></li>
			
			<li class="nav-item">
			<a class="nav-link" href="footprint">By Footprint</a></li>
		</ul>
	</div>
</nav>

</body>
</html>