<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">


<head>
	<meta charset="UTF-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	<meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
	<title th:text="${pageTitle}">Dwarfs</title>
</head>

<body>
<div class="container">

<div class="jumbotron text-center">
<h1 th:text="${subTitle}">Disney Dwarfs</h1>
</div>

<nav th:replace="layouts/nav :: navFragment"> </nav>

<form class="form-horizontal" th:action="@{/save}" method="post">
<table class="table table-striped">
	<thead>
		<th>Column</th>
		<th>Value</th>
	</thead>
	<tbody>
		<tr>
			<td>Dwarf ID</td>
			<td><input type="text" readonly="readonly" th:field="${dwarf.dwarfId}"></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input type="text" class="form-control" th:field="${dwarf.name}"></input>
			 <span th:if="${#fields.hasErrors('dwarf.name')}" th:errors="${dwarf.name}" th:class="error-block">Name cannot be empty!</span>
			</td>
		</tr>
		<tr>
			<td>Author</td>
			<td><input type="text" class="form-control " th:field="${dwarf.author}"></td>
		</tr>
		<tr>
			<td>Image</td>
			<td><input type="text" class="form-control " th:field="${dwarf.image}"></td>
		</tr>
	</tbody>
</table>
<button type="submit" class="btn btn-primary">Submit Changes</button>
</form>

</div>

</body>


</html>